# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment and IDE
.env*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript/Expo generated
expo-env.d.ts