# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment and IDE
.env*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript/Expo generated
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android